# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Virtual Environment
# -----------------------------
ragvenv/
venv/
.venv/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# Google Service Account
# -----------------------------
ultimate-ascent-367413-dc9c6594b9ba.json

# -----------------------------
# ChromaDB / Local Databases
# -----------------------------
.financial_chroma_db/
.ltm_mem0_storage/
data/

# -----------------------------
# Generated Reports
# -----------------------------
output_pdf/

# -----------------------------
# Git
# -----------------------------
.git/
.gitignore

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# OS
# -----------------------------
.DS_Store
Thumbs.db