# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env


# Database / Local Storage
.ltm_mem0_storage/
.financial_chroma_db/
output_financials_pdf/
output_news_pdf/
output_pdf/
data/

# Virtual environment 
ragvenv/

# MCP Google Sheet Client JSON
ultimate-ascent-367413-dc9c6594b9ba.json/
